name: run main.py
on:
  push:
    branch:
       - 'main'
  pull_request:
     branches:
       - 'main'
jobs:

   tests:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
         python-version: '3.9'
      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 
          pip install -U pytest
          pip install -e .
      - name: Run tests
        run: python -m pytest
